<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>My Site - Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="css/style_Info.css">
	<link rel="stylesheet" type="text/css" href="BootstrapHelper/dist/css/bootstrap-formhelpers.min.css">
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link src='BootstrapSocial/bootstrap-social.css' rel='stylesheet' type='text/css'>
	
	<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="js/angular-queue.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
	
	<script src="js/app.js"></script>

	<!--Helper for country selection -->
	<script type="text/javascript" src="BootstrapHelper/js/lang/en_US/bootstrap-formhelpers-countries.en_US.js"></script>

	<script type="text/javascript" src="BootstrapHelper/js/bootstrap-formhelpers-countries.js"></script>

	<!--Helper for Birthday selection -->
	<script src="BirthdayPicker/dobPicker.min.js"></script>

	
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>
<div class="container" ng-controller="ProfileCtrl">
<!--   Skills Progress Bar
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
    Progress Bar
  </div>
</div> 
</div>-->
	<div class="row" ng-hide="myValue">
		<div class="col-md-6 col-md-offset-3" ng-show="!myValue">
			<div class="panel panel-information">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-6">
							<a href="#" class="active" id="info-form-link">Information</a>
						</div>
						<div class="col-xs-6">
							<a href="#" id="questions-form-link">Questions</a>
						</div>
					</div>					
				</div>

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">

						<form id="info-form"  method="post" role="form" style="display: block;">
							<!--MainInformation
							For linked aan id - placeholder is de tekst in de input - type is nodig
							 -->
							<fieldset class="form-group">
								<label for="inputUsername">Username:</label>
								<input type="username" class="form-control" id="inputUsername" placeholder="Enter Username" ng-model="username"></input>
							</fieldset>
							<fieldset class="form-group">
								<label for="inputFirstname">Firstname:</label>
								<input type="firstname" class="form-control" id="inputFirstname" placeholder="Enter Firstname" ng-model="name"></input>
							</fieldset>
							<fieldset class="form-group">
								<label for="inputName">Name:</label>
								<input type="name" class="form-control" id="inputName" placeholder="Enter Name" ng-model="lastname"></input>
							</fieldset>
							<fieldset class="form-group">
								<label for="inputBirthday">Birthday:</label>
								<select id="dobday" ng-model="day"></select>
								<select id="dobmonth" ng-model="month"></select>
								<select id="dobyear" ng-model="year"></select>

							</fieldset>
							<fieldset class="form-group">
								<label for="inputCountry">Country:</label>			
								<select id="inputCountry" class="form-control input-medium bfh-countries" data-country="US" ng-model="country"></select>
							</fieldset>
							<fieldset class="form-group">
								<label for="inputCity">City:</label>			
								<input type="city" class="form-control" id="inputCity" placeholder="Enter City" ng-model="city"></input>
							</fieldset>
							<fieldset class="form-group">
								<label for="inputJob">Job:</label>
								<input type="job" class="form-control" id="inputJob" placeholder="Enter Job" ng-model="job"></input>
							</fieldset>
							<fieldset class="form-group">
					    		<label for="aboutmeText">About Me:</label>
					    		<textarea class="form-control" id="aboutmeText" rows="3" maxlength="128" ng-model="aboutme"></textarea>
					  		</fieldset>
					  		<div class="form-group">
								<div class="row">
									<div class="col-sm-6 col-sm-offset-3">
										<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-information" value="Confirm" ng-click=addProfile()>
									</div>
								</div>
							</div>
					  	</form>

					  	<form id="questions-form"  method="post" role="form" style="display: none;" ng-controller="ProfileCtrl" ng-submut="questionAdd()">
							<!--Workout-->
							<div class="form-group">
								<label>You like to workout?</label>				
								<div class="radio">	
									<label>
										<input type="radio" name="optionRadios" id="optionRadio1" ng-model="radioValue1" value="Yes">
											Yes
										</input>
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionRadios" id="optionRadio2" value="No" ng-model="radioValue1">
											No
										</input>
									</label>
								</div>			
							</div>

							<!--Music-->
							<div class="form-group">
								<label>Are you into music?</label>
								<div class="radio">	
									<label>
										<input type="radio" name="optionMusic" id="optionMusic1" value="Yes" ng-model="radioValue2">
											Yes
										</input>
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionMusic" id="optionMusic2" value="No" ng-model="radioValue2">
											No
										</input>
									</label>
								</div>			
							</div>

							<!--Festival-->
							<div class="form-group">
								<label>You like to go to festivals?</label>
								<div class="radio" ng-model="radioValue">	
									<label>
										<input type="radio" name="optionFestival" id="optionFestival1" value="Yes" ng-model="radioValue3">
											Yes
										</input
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionFestival" id="optionFestival2" value="No" ng-model="radioValue3">
											No
										</input>
									</label>
								</div>			
							</div>

							<!--Animals-->
							<div class="form-group">
								<label>Animals are your best friend?</label>
								<div class="radio">	
									<label>
										<input type="radio" name="optionAnimal" id="optionAnimal1" value="Yes" ng-model="radioValue4">
											Yes
										</input>
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionAnimal" id="optionAnimal2" value="No" ng-model="radioValue4">
											No
										</input>
									</label>
								</div>			
							</div>

							<!--Adventures-->
							<div class="form-group">
								<label>Are you an adventures type?</label>
								<div class="radio">	
									<label>
										<input type="radio" name="optionAdventure" id="optionAdventure1" value="Yes" ng-model="radioValue5">
											Yes
										</input>
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionAdventure" id="optionAdventure2" value="No" ng-model="radioValue5">
											No
										</input>
									</label>
								</div>			
							</div>

							<!--Experiment/New Things-->
							<div class="form-group">
								<label>So you like to try alot of different things?</label>
								<div class="radio">	
									<label>
										<input type="radio" name="optionExperiment" id="optionExperiment1" value="Yes" ng-model="radioValue6">
											Yes
										</input>
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionExperiment" id="optionExperiment2" value="No" ng-model="radioValue6">
											No
										</input>
									</label>
								</div>			
							</div>

							<!--Cultural/Theatre/Musea-->
							<div class="form-group">
								<label>Exploring different cultures are your thing?</label>
								<div class="radio">	
									<label>
										<input type="radio" name="optionCulture" id="optionCulture1" value="Yes" ng-model="radioValue7">
											Yes
										</input>
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionCulture" id="optionCulture2" value="No" ng-model="radioValue7">
											No
										</input>
									</label>
								</div>			
							</div>
							<!--Travel-->
							<div class="form-group">
								<label>Travelling all around the world is what you like?</label>
								<div class="radio">	
									<label>
										<input type="radio" name="optionTravel" id="optionTravel1" value="Yes" ng-model="radioValue8">
											Yes
										</input>
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionTravel" id="optionTravel2" value="No" ng-model="radioValue8">
											No
										</input>
									</label>
								</div>			
							</div>
							<!--Films-->
							<div class="form-group">
								<label>You would rather sit at home and watch a film?</label>
								<div class="radio">	
									<label>
										<input type="radio" name="optionFilm" id="optionFilm1" value="Yes" ng-model="radioValue9">
											Yes
										</input>
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionFilm" id="optionFilm2" value="No" ng-model="radioValue9">
											No
										</input>
									</label>
								</div>			
							</div>
							<!--Series-->
							<div class="form-group">
								<label>Or do you only watch your TV series every week?</label>
								<div class="radio">	
									<label>
										<input type="radio" name="optionSeries" id="optionSeries1" value="Yes" ng-model="radioValue10">
											Yes
										</input>
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionSeries" id="optionSeries2" value="No" ng-model="radioValue10">
											No
										</input>
									</label>
								</div>			
							</div>
							<!--Games-->
							<div class="form-group">
								<label>Maybe you like to play computer/console games?</label>
								<div class="radio">	
									<label>
										<input type="radio" name="optionGame" id="optionGame1" value="Yes" ng-model="radioValue11">
											Yes
										</input>
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionGame" id="optionGame2" value="No" ng-model="radioValue11">
											No
										</input>
									</label>
								</div>			
							</div>

							<!--Books-->
							<div class="form-group">
								<label>Are books your only love?</label>
								<div class="radio">	
									<label>
										<input type="radio" name="optionBook" id="optionBook1" value="Yes" ng-model="radioValue12">
											Yes
										</input>
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionBook" id="optionBook2" value="No" ng-model="radioValue12">
											No
										</input>
									</label>
								</div>			
							</div>
					  		<div class="form-group">
								<div class="row">
									<div class="col-sm-6 col-sm-offset-3">
										<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-questions" value="Confirm" ng-click="questionAdd()">
									</div>
								</div>
							</div>																		
						</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
	
</body>
</html>